@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 2rem;

  --box-shadow: 0 0 0.25rem #2d2d2d;

  --color-light-cream: rgb(254 248 230);

  --font-kalam: "Kalam", cursive;
  --font-rasa: "Rasa", serif;
}

body,
input {
  font-family: var(--font-rasa);
}

h1,
h2,
h3 {
  font-family: var(--font-kalam);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}
