@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 2rem;

  --box-shadow: 0 0 0.25rem #2d2d2d;

  --color-light-cream: rgb(254 248 230);

  /* Typography */
  --font-kalam: "Kalam", cursive;
  --font-rasa: "Rasa", serif;
  --font-display: var(--font-kalam);
  --font-body: var(--font-rasa);

  /* Gradients */
  --gradient-tangerine-diagonal: linear-gradient(
    90deg,
    #fe7d1a 0.09%,
    #db5100 102.1%
  );
  --gradient-lilypad-diagonal: linear-gradient(90deg, #009acc 0%, #0bd99c 100%);
  --gradient-gray-diagonal: linear-gradient(
    90deg,
    #76949d 0%,
    #76949d 100%
  ); /* Just a solid gray background image */
  --gradient-sky-diagonal: linear-gradient(90deg, #5dc5e3 0%, #009acc 100%);
  --gradient-watermelon-diagonal: linear-gradient(
    90deg,
    #04c023 0%,
    #018f18 100%
  );
  --gradient-lava-diagonal: linear-gradient(90deg, #333333 0%, #1c1c1c 100%);

  ---gradient-Top-recipes: linear-gradient(
    180deg,
    rgba(109, 209, 227, 1) 30%,
    rgba(248, 247, 246, 1) 100%
  );

  ---gradient-banana-Top-recipes:linear-gradient(94deg, rgba(255,201,69,1) 38%, rgba(208,164,55,1) 100%);

}

/* Text Gradients */
.tangerine-text-gradient {
  background: var(--gradient-tangerine-diagonal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lilypad-text-gradient {
  background: var(--gradient-lilypad-diagonal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-text-gradient {
  background: var(--gradient-gray-diagonal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sky-text-gradient {
  background: var(--gradient-sky-diagonal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watermelon-text-gradient {
  background: var(--gradient-watermelon-diagonal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lava-text-gradient {
  background: var(--gradient-lava-diagonal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body,
input {
  font-family: var(--font-body);
  font-size: 20px;
}

/* NOTE: Use the Heading component which overwrights these hX rules */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  line-height: 1.5;
}
/* h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
} */
